absl-py==1.1.0
aenum==3.1.11
astor==0.8.1
cached-property==1.5.2
dataclasses==0.8
gast==0.5.3
grpcio==1.46.3
h5py==2.10.0
importlib-metadata==4.8.3
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
numpy==1.19.5
opencv-python==4.6.0.66
protobuf==3.19.4
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pywin32==304
PyYAML==6.0
scipy==1.5.4
six==1.16.0
tensorboard==1.12.2
tensorflow==1.12.3
termcolor==1.1.0
toml==0.10.2
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
